.wrapper {
  display: flex;
  /* justify-content: space-between;
   */
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 36px;
  min-height: 70vh;
  width: calc(100vw - 150px);
  margin: 0 auto;
}
