.review-section {
  max-width: 880px;
  flex: 0 1;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.review-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-section__text {
  display: flex;
  gap: 10px;
}

.review-section__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.review-section__count {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}

.review-section__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 25px;
}

/* отзыв */
.review {
  display: flex;
  gap: 30px;

}

.review__photo {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.review__name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.review__rating {
  margin-top: 10px;
}

.review__parameters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
}

/* Разделитель */

.separator {
  border-top: 2px dashed #888888;
  max-width: 700px;
  margin-left: 170px;
}
