.memory-config__buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
}

.btn:hover {
  background: green;
  color: white;
}

.btn_selected {
  border: 2px solid orange;
}
